.bg1{
    background-color: gainsboro;
}
.div1{
    text-align: center;
    color: cadetblue;
}
.h1{
   color: blueviolet;
   font-size: large;
}
.h2{
    font-weight: 700;
}
.h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}